{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="section-header">
  <h1>Detail User</h1>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      
    <div class="card">
    <div class="card-header">
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Nama</label>
              <p>{{ user.nama }}</p>
            </div>
            <div class="form-group">
              <label>username</label>
              <p>{{ user.username }}</p>
            </div>
            <div class="form-group">
              <label>level</label>
              <p>{{ user.level }}</p>
            </div>
          </div>
          <div class="col-sm-12">
              {{ include('user/_delete_form.html.twig') }}
          </div>
        </div>
      </div>  
</div>
{% endblock %}
